pipeline/P_outer.json
{
	"name": "P_outer",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "Select top 3 TABLE_SCHEMA,TABLE_NAME  FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and Table_Schema like '%sales%'"
					},
					"dataset": {
						"referenceName": "DS_SQL_Generic",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ExecutePipelineActivity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_COPY_ASQL_To_ABLB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableList": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}