AnalticsETLDataFactory/PartialArmTemplates/ArmTemplate_1_19_2019_9_11_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "analticsetldatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ForEachTest2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupExtractListTable",
						"description": "x",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "Select SourceTable from extractlist\nwhere sourcename = 'BS' and importflag = 1"
							},
							"dataset": {
								"referenceName": "ExtractListBS",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachExtactListSourceTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupExtractListTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupExtractListTable').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "InsightSource Update by Table",
									"type": "SqlServerStoredProcedure",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"storedProcedureName": "[concat('[', 'dbo].[s_ATestForEach]')]",
										"storedProcedureParameters": {
											"Sources": {
												"value": "BS",
												"type": "string"
											},
											"BSDate": {
												"value": "2016-04-22",
												"type": "datetime"
											},
											"TableName": {
												"value": {
													"value": "@item().SourceTable",
													"type": "Expression"
												},
												"type": "string"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDbLinkedService",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				]
			}
		}
	]
}